<div class="select-collection">
  <%= cl_image_tag collection.artworks.first.photo.key, alt: "alttext", class: "collection-thumbnail" %>
  <span class="body-medium"><%= collection.name %></span>
</div>