// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$off-black: #212121;
$dark-gray: #353535;
$mid-gray: #B1B1B1;
$off-white: #FDFDFD;
$transparent: rgba(0,0,0,0);

$gradient-filter: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
