h1 {
  font-size: 38px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

.body-large {
  font-size: 26px;
  font-weight: $font-weight;
}

.body-medium {
  font-size: 20px;
  font-weight: 300;
  line-height: $line-height;
}

.body-small {
  font-size: 16px;
  font-weight: $font-weight;
}

.body-xs {
  font-size: 12px;
  font-weight: $font-weight;
}

.subtitle {
  font-size: 16px;
}
