h1 {
  font-size: 38px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
  margin-bottom: 4px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 13px;
}

$body-large: 26px;
$body-medium: 20px;
$body-small: 15px;
$body-xs: 12px;

.body-large {
  font-size: $body-large;
  font-weight: $font-weight;
  line-height: 1.3em;
}

.body-medium {
  font-size: $body-medium;
  font-weight: 300;
  line-height: $line-height;
}

.body-small {
  font-size: $body-small;
  font-weight: $font-weight;
}

.body-xs {
  font-size: $body-small;
  font-weight: $font-weight;
}

.subtitle {
  font-size: $body-small;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 400;
  margin-bottom: 0;
}
