$body-padding: 24px;

.container {
  padding-left: 28px;
  padding-right: 28px;
}

a {
  color: $off-black;

  &:hover {
    text-decoration: none;
    color: $off-black;
  }

  &:active {
    background-color: $light-gray;
    color: $off-black;
    text-decoration: none;
  }
}

.underline {
  text-decoration: underline;
}

.form {
  align-items: center;
}

.container-sign-in {
  text-align: center;
}

.white {
  color: white;
}

.mid-gray {
  color: $mid-gray;
}

.dark-gray {
  color: $dark-gray;
}


body, .body-large, h5{
    animation: fadeInAnimation ease 1s;
    // animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.responsive {
  height: 100vh;
  width: 100vw;
  background-color: $off-white;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: none;
}

@media screen and (min-width: 480px) {
  .responsive {
    display: flex;
    align-items: center;
    text-align: center;

    h1 {
      padding: 32px;
      max-width: 600px;
      margin: 0 auto;
    }
  }

  body {
    overflow-y: hidden;
  }
}
