.container {
  padding-left: 24px;
  padding-right: 24px;
}

a {
  color: $off-black;

  &:hover {
    text-decoration: none;
  }

  &:active {
    background-color: $light-gray;
    color: $off-black;
    text-decoration: none;
  }
}


.underline {
  text-decoration: underline;
}

.form {
  align-items: center;
}

.container-sign-in{
  text-align: center;
}
