$body-padding: 24px;

.container {
  padding-left: 28px;
  padding-right: 28px;
}

a {
  color: white;

  &:hover {
    text-decoration: none;
  }

  &:active {
    background-color: $light-gray;
    color: $off-black;
    text-decoration: none;
  }
}

.underline {
  text-decoration: underline;
}

