// Specific CSS for your home-page
.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: asset-url('image_landing.png');
  background-size: cover;
  height: 100vh;
  background-position: center;
  text-align: center;
  color: white;
}
