// Specific CSS for your home-page
.body-landing {
  background-image: $gradient-filter, asset-url('image_landing.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 100vh;
  background-position: center;
  text-align: center;
  color: white;

  a {
    color: white;
  }
}

.container-mt {
  margin-top: 80px;
}

.slider {
  overflow-x: scroll;
  // display: flex;
  // white-space: nowrap;
  padding-left: 24px;

  img {
    display: inline;
  }
}

.my-collections {
  background-color: $light-gray;
  padding-top: 52px;
  padding-bottom: 52px;
  margin-top: 48px;
  margin-bottom: 66px;

  .gradient {
    background: linear-gradient(90deg,rgba(234, 234, 234, 0) 0%, #eaeaea 100%);
    height: 300px;
    right: 0;
    width: 40px;
    position: absolute;
    z-index: 10;
  }
}
