<div class="container-landing">
  <div>
    <div>
      <h1>Curators</h1>
    </div>
    <div>
      <p>Share and discover artworks with Curators, the social network for art enthusiasts.</p>
    </div>
    <div class="container-btn">
      <%= link_to "Log in", new_user_session_path, class: "button"  %>
    </div>
    <div>
      <p> No account yet? <%= link_to "Sign up", new_user_registration_path %> </p>
    </div>
  </div>
</div>