<div class="landing">
  <div class="container">
    <h1>Curators</h1>
    <div>
      <p class="body-medium">Share and discover artworks with Curators, the social network for art enthusiasts.</p>
    </div>
    <div class="container-btn">
      <%= link_to "Log in", new_user_session_path, class: "button" %>
    </div>
    <p> No account yet? <%= link_to "Sign up", new_user_registration_path %> </p>
  </div>
</div>
