<% if notice %>
  <div class="alert alert-info alert-dismissible fade show m-1" role="alert" id="alert">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert" id="alert">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<% if notification %>
    <div class="notification text-center container" role="alert" id="alert">
      <h4><%= notification %>!</h4>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <!-- <span aria-hidden="true">&times;</span> -->
      </button>
    </div>
<% end %>

