<div class="container container-mt mb-5">
  <div class="profile">
    <% if @artwork_archive&.artist %>
      <%= cl_image_tag @user.photo.key, alt: "alttext", class: "avatar" %>
    <% end %>
    <h3 class="mt-3"><%= @user.name %></h3>
    <p class="body-small mid-gray"><%= @number_of_collections %> collections</p>
    <div class="profile-description">
      <p class="body-small"><%= @user.description %></p>
    </div>

  </div>
</div>
