<!-- <div style="margin: auto; width: 25%; padding: 10px">
  <h1>Autocomplete</h1>
  <div data-controller="autocomplete">
    <input data-target="autocomplete.field" />
  </div>
</div> -->

<div class="container pt-5">

  <select class="select2" name="country">
    <option value="AL">Alabama</option>
    <option value="WY">Wyoming</option>
  </select>

  <select class="form-control">
    <option selected="selected">orange</option>
    <option>white</option>
    <option>purple</option>
  </select>
</div>
