<body class="body-test container pt-5">

  <!-- Buttons -->
  <%= link_to "Button", "#", class: "button" %>
  <hr class="mt-4">
  <%= link_to "Button", "#", class: "button button-stroke-white" %>


</body>
