.button {
  font-size: 14px;
  font-weight: $font-weight;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  background-color: $light-gray;
  padding: 15px 26px;
  display: inline-block;
  border-radius: 30px;
  color: black;
  text-align: center;
  border: 0px;
}

.button-stroke-white {
  background-color: rgba(0,0,0,0);
  border: solid 1px white;
  color: white;
}

.button-block {
  display: block;
  width: 100%;
}

.button-dark {
  background-color: $off-black;
  border: none;
  color: white;
}

.button-dark-gray {
  background-color: $dark-gray;
  border: none;
  color: white;
}

.button-plus {
  width: 52px;
}

.button-camera-light-gray {
  width: 52px;
}

.button-camera-main-dark {
  width: 70px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 100;
}

.button-new-artwork {
  padding-top: 32px;
  padding-bottom: 32px;
  height: 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  img {
    width: 38px;
    margin-bottom: 4px;
  }
}
