.notification {
  background-color: $light-gray;
  text-align: center;
  padding: 27px;
  border-radius: 60px;
}

.select-collection {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  p {
    margin-bottom: 0;
  }
}

.collection-thumbnail {
  width: 42px;
  height: 42px;
  margin-right: 16px;
  border-radius: 4px;
}

.collection-tag {
  background-color: #9B4444;
  // background-color: #C0D9D4;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;

  h5 {
    margin-bottom: 0;
    color: white;
  }
}
