.select-collection {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  p {
    margin-bottom: 0;
  }
}

.collection-thumbnail {
  width: 42px;
  height: 42px;
  margin-right: 16px;
  border-radius: 4px;
}
