.navbar {
  padding: 0;
  height: 52px;
}

.navbar-toggler {
  border: 0px $transparent;
  padding: 0;
}

.navbar-lewagon {
  width: 100%;
  position: fixed;
  justify-content: space-between;
}

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
//   position: fixed;
// }

// .nav-item {
//   display: inline-block;
//   width: 70%;
// }

// .nav-link {
//   color: $off-black !important;
//   margin-left: 40px;
// }

// .show {
//   background-color: $light-gray;

//   top: 0;
//   height: 100vh;
//   width: 100%;
//   z-index: 0;
// }

.back-arrow {
  width: 8px;
  margin-left: $body-padding;
}

.burger {
  width: $body-padding;
  background-image: asset-url('icons/icon_burger_white.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 8px;
  margin-right: $body-padding;
}

.cross {
  width: 16px;
}


.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  // background-color: rgb(0,0,0);
  background-color: rgba(255,255,255, 0.95);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  margin-left: 40px;
  position: relative;
  width: 100%;
  margin-top: 94px;
  white-space: nowrap;
}

.overlay a {
  text-decoration: none;
  font-size: 36px;
  color: $off-black;
  display: block;
  transition: 0.2s;
}

.overlay .closebtn {
  position: absolute;
  top: 10px;
  right: 13px;
}

// @media screen and (max-height: 450px) {
//   .overlay a {font-size: 20px}
//   .overlay .closebtn {
//   font-size: 40px;
//   top: 15px;
//   right: 35px;
//   }
// }
