.profile {
  text-align: center;

  h3 {
    margin-bottom: 0;
  }

  .profile-description {
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
  }
}

.avatar {
  width: 84px;
  height: 84px;
  object-fit: cover;
  border-radius: 50%;
}

.tabs {
  display: flex;
  position: sticky;
  top: 48px;
  background-color: white;
}

.tab {
  border-bottom: solid 1px $off-black;
  text-align: center;
  padding-bottom: 16px;
  width: 100%;
}

.opacity-low {
  opacity: 0.3;
}
