// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "cropperjs/dist/cropper";

// Custom settings
@import "config/font_settings";
@import "config/normalize";

// Your CSS partials
@import "components/index";
@import "pages/index";
