<div class="my-navbar bg-white">

    <!-- Icon on the left -->
    <div class="navbar-left-side">
      <%= image_tag "icons/icon_back_arrow_black.png", class: "back-arrow" %>
    </div>

    <!-- Page Title -->
    <div class="navbar-center-element">
      <h5>Title</h5>
    </div>

    <!-- Icon on the right -->
    <div class="empty"></div>

  </div>
</div>
